@model IEnumerable<FlexibleAutomationTool.DL.Models.Rule>

@{
    ViewData["Title"] = "RuleList";
}

<h1>RuleList</h1>

<p>
    <a asp-action="CreateRule">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionMessanger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionMessanger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                <a asp-action="UpdateRule" asp-route-id="@item.Id">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-action="DeleteRule" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
